<div *ngIf="navService.showSidenav$ | async" class="sidenav">
    <mat-nav-list>
        <!-- Landingpage -->
        <mat-list-item (click)="navigate('/')">
        <mat-icon matListIcon>bookmark_border</mat-icon>
        <h3 matLine>Home</h3>
        </mat-list-item>
        <!-- Chat UI -->
        <mat-list-item (click)="navigate('/chat')">
        <mat-icon matListIcon>chat</mat-icon>
        <h3 matLine>Chat UI</h3>
        </mat-list-item>
        <!-- ... other links ... -->
    </mat-nav-list>
</div>
