.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #111;
    z-index: 1;
    /* Add your styles for the content inside the sidenav */
    
    mat-nav-list {
      color: white;
      mat-list-item {
        cursor: pointer;
      }
    }
  }
  