.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.message-window {
  app-message {
    display: block;
    clear: both;
  }

  flex:1;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 5px;
}

.input-container {
  position: fixed;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #a900f8;

  mat-form-field {
    flex-grow: 1;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: -10px;
  }

  button {
    height: 55px;
    width: 80px;
    margin-bottom: 12.5px;
  }
}
