<div class="chat-container">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" (click)="toggleNavbar()"></mat-icon>
  <div class="message-window">
    <app-message *ngFor="let message of messages" [message]="message"></app-message>
  </div>  
  <div class="input-container">
    <mat-form-field>
      <mat-label>Type your message</mat-label>
      <input matInput [(ngModel)]="newMessage" placeholder="Type your message..." (keydown.enter)="postMessage()">
    </mat-form-field>          
    <button mat-raised-button color="primary" (click)="postMessage()">Send</button>
  </div>
</div>
